//STYLE POMOCNICZE DO JS
@use 'colors' as *;


.scroll-bg {
	background-color: $main-color;
}
.navbar-open-bg {
	background: $main-color;
}
.burger-open{
	background-color: #fff;
}
.hamburger {
	display: none;
}
